* {
  padding: 0px;
  margin: 0px;
}

.pd0 {
  padding: 0;
}

.pdl0 {
  padding-left: 0;
}

.pdl20 {
  padding-left: 20px;
}

.pdr20 {
  padding-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mt60 {
  margin-top: 60px;
}

a:focus, a:hover {
  text-decoration: none;
}



